@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Cor de fundo para o modo claro */
  --foreground: #171717; /* Cor do texto para o modo claro */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
